#about_wrapper {
    display: none;
    background: #fff;
    width: 300px;
    top: 35px;
    right: 0px;
    border: 2px solid #666;
}

.abouttip {
    position: absolute;
    background: #fff;
    border: 2px solid #666;
    border-radius: 8px;
    z-index: -1
}

.about-tip {
    float: right;
    width: 90px;
    height: 55px;
    background-image: url("../images/icons/Arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
}

#about-tooltip-text {
    margin-left: 35px;
    float: left;
    margin-bottom: 15px;
}

#about-hr-wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#about-hr {
    border: none;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    *border-top: 0px;
    clear: both;
    height: 0;
    width: 100%;
}

#about-title {
    font-size: 18px;
    margin: 20px 20px 10px;
}

#about-subtitle {
    margin: 10px 30px 10px;
}

#about {
    margin-bottom: 10px;
    *padding-bottom: 6px;
    overflow-x: hidden;
    overflow-y: auto;
}