#draw_wrapper {
    display: none;
    background: #fff;
    width: 250px;
    top: 35px;
    right: 0px;
    border: 2px solid #666;
}

.drawtip {
    position: absolute;
    background: #fff;
    border: 2px solid #666;
    border-radius: 8px;
    z-index: -1
}

#draw-tooltip {
    padding: 15px;
}

#draw-tooltip-text {
    margin-left: 35px;
    float: left;
    margin-bottom: 15px;
}

#draw-hr-wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#draw-hr {
    border: none;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    *border-top: 0px;
    clear: both;
    height: 0;
    width: 100%;
}

#draw-title {
    font-size: 18px;
    margin: 20px 20px 10px;
}

#draw-subtitle {
    margin: 10px 30px 10px;
}

#draw {
    margin-bottom: 10px;
    *padding-bottom: 6px;
    overflow-x: hidden;
    overflow-y: auto;
}

.circlep-icon, .diamond-icon, .cross-icon, .square-icon, .x-icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    margin: 7px;
    background-position: center center;
    background-color: lavender;
}

.line-icon, .polyline-icon, .polygon-icon, .freehand-polyline-icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin: 10px;
    background-position: center center;
    background-color: aliceblue;
}

.freehand-polygon-icon, .triangle-icon, .circle-icon, .ellipse-icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin: 10px;
    background-position: center center;
    background-color: powderblue;
}

.circlep-icon {
    background-image: url(images/icons/point_circle.png);
}

.diamond-icon {
    background-image: url(images/icons/point_diamond.png);
}

.cross-icon {
    background-image: url(images/icons/point_cross.png);
}

.square-icon {
    background-image: url(images/icons/point_square.png);
}

.x-icon {
    background-image: url(images/icons/point_x.png);
}

.line-icon {
    background-image: url(images/icons/draw_line.png);
}

.polyline-icon {
    background-image: url(images/icons/draw_polyline.png);
}

.polygon-icon {
    background-image: url(images/icons/draw_polygon.png);
}

.freehand-polyline-icon {
    background-image: url(images/icons/draw_freehand_polyline.png);
}

.freehand-polygon-icon {
    background-image: url(images/icons/draw_freehand_polygon.png);
}

.triangle-icon {
    background-image: url(images/icons/draw_triangle.png);
}

.circle-icon {
    background-image: url(images/icons/draw_circle.png);
}

.ellipse-icon {
    background-image: url(images/icons/draw_ellipse.png);
}

.icon-selected {
    background-color: #c0c0c0;
}

.drawHighlight {
    background: darkkhaki;
}

.drawPallete:hover {
    background: darkgoldenrod;
}

.drawButtonTD {
    width: 25%;
    text-align: center;
    background-color: rgb(236, 245, 252);
}

.drawClear {
    width: 30px;
    height: 30px;
    background-image: url("../images/draw_clear.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1.5px solid #928F8F;
    z-index: 3;
}

.drawClear:disabled {
    background-color: gray;
    border: 1.5px solid rgb(255, 0, 0);
}

.drawDone {
    width: 30px;
    height: 30px;
    background-image: url("../images/draw_done.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1.5px solid #928F8F;
    z-index: 3;
}

.drawDone:disabled {
    background-color: gray;
    border: 1.5px solid rgb(255, 0, 0);
}

.drawCancel {
    width: 30px;
    height: 30px;
    background-image: url("../images/draw_cancel.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1.5px solid #928F8F;
    z-index: 3;
}

.drawCancel:disabled {
    background-color: gray;
    border: 1.5px solid rgb(255, 0, 0);
}

.drawZoom {
    width: 30px;
    height: 30px;
    background-image: url("../images/draw_zoom.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1.5px solid #928F8F;
    z-index: 3;
}

.drawZoom:disabled {
    background-color: gray;
    border: 1.5px solid rgb(255, 0, 0);
}