#batchselect_wrapper {
  display:none;
  background: #fff;
  width: 300px;
  top: 60px;
  right:195px;
  border:2px solid #666;
}

.batchselecttip {
  position: absolute;
  background: #fff;
  border: 2px solid #666;
  border-radius: 8px;
  z-index: -1
}

.batchselecttip:after, .batchselecttip:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: -1
}

.batchselecttip:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 25px;
  margin-left: -25px;
  z-index: -1
}

.batchselecttip:before {
  border-color: rgba(102, 102, 102, 0);
  border-bottom-color: #666;
  border-width: 28px;
  margin-left: -28px;
  z-index: -1
}

.batch-select-tip {
  float: right;
  width: 90px;
  height: 55px;
  background-image: url("../images/icons/Arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
}

#batch-select-tooltip-text {
  margin-left: 35px;
  float:  left;
  margin-bottom: 15px;
}
#batch-select-hr-wrapper {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#batch-select-hr {
   border: none;
    border-bottom:1px solid #666;
    border-top:1px solid #666;
    *border-top:0px;
    clear:both;
    height:0;
    width: 100%;
}

#batch-select-title {
    font-size: 18px;
    margin: 20px 20px 10px;
  }
  #batch-select-subtitle {
    margin: 10px 30px 10px;
  }

#batchselect {
  margin-bottom: 10px;
  *padding-bottom: 6px;
  overflow-x: hidden;
  overflow-y: auto;
}